img {
    width: 60%;
    height: 60%;
    position: center;
}
body {
    background-color: white;
        color: black;
            text-align: justify;
                margin-top: 2cm;
                    font-size: 18px;
                margin-left: 15cm;
            margin-right: 15cm;
        line-height: 1cm;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #357EC7;
}
h2 {
    color: #357EC7;
}
h3 {
    color: #2a5783;
}
h5 {
    color: black;
}